<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="biIndexApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<base href="/">
<title>Intyg - Business Intelligence</title>

<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css" />
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<link rel="stylesheet" href="/css/inera-webcert.css">
<link rel="stylesheet" href="/css/inera-certificate.css">

</head>
<style>
  html, body {
    height: 100%;
    margin: 4px;
    padding: 0px;
  }

</style>

<body class="index-page" ng-controller="IndexController">

  <div class="index-content-container">

    <!-- header part -->
    <div class="index-header-section">

      <div class="row">
        <div class="col-sm-6">
          <h1 class="page-title">Välkommen till Intyg BI</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-md-3 sidebar">
      <ul class="nav nav-sidebar" ng-repeat="measure in measures" >
        <li class="active"><a href="#">{{ measure.name }}</a></li>
        <ul class="nav-sidebar" ng-repeat="sub in measure.children">
          <li> {{ sub.name }}
            <span ng-if="sub.children.length == 0">
                <a href="#" ng-click="addColumn(sub)" ng-if="available(sub)">Col</a>
                <a href="#" ng-click="addRow(sub)" ng-if="available(sub)">Row</a>
            </span>
          </li>
        </ul>
      </ul>

      <ul class="nav nav-sidebar" ng-repeat="dim in dimensions" >
        <li class="active"><a href="#">{{ dim.name }}</a></li>

        <ul class="nav-sidebar" ng-repeat="sub in dim.children">
          <li> {{ sub.name }}
            <span ng-if="sub.children.length == 0">
                <a href="#" ng-click="addColumn(sub)" ng-if="available(sub)">Col</a>
                <a href="#" ng-click="addRow(sub)" ng-if="available(sub)">Row</a>
            </span>
          </li>

          <!-- almost last hardcoded recursion, replace this with template -->

            <ul class="nav-sidebar" ng-repeat="sub2 in sub.children">
              <li> {{ sub2.name }}
                <span ng-if="sub2.children.length == 0">
                    <a href="#" ng-click="addColumn(sub2)" ng-if="available(sub2)">Col</a>
                    <a href="#" ng-click="addRow(sub2)" ng-if="available(sub2)">Row</a>
                </span>
              </li>

              <!-- Last hardcoded recursion, replace this with template -->
              <ul class="nav-sidebar" ng-repeat="sub3 in sub2.children">
                <li>

                  <div>{{ sub3.name }}
                    <span ng-if="sub3.children.length == 0">
                      <a href="#" ng-click="addColumn(sub3)" ng-if="available(sub3)">Col</a>
                      <a href="#" ng-click="addRow(sub3)" ng-if="available(sub3)">Row</a>
                    </span>
                  </div>
                </li>
              </ul>

            </ul>

        </ul>
      </ul>
    </div>
    <div class="col-md-9">


      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Rows</div>
            <div class="panel-body">
              <ul ng-repeat="row in rows">
                <li>{{ row.path }} <span class="glyphicon glyphicon-filter" ng-click="openFilter(row, 'ROW');"></span> <span class="glyphicon glyphicon-remove" ng-click="removeRow(row);"></span></li>
                <ul ng-repeat="fi in row.filterValues">
                  <li>{{ fi.path }}</li>
                </ul>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Columns</div>
            <div class="panel-body">
              <ul ng-repeat="col in columns">
                <li>{{ col.path }} <span class="glyphicon glyphicon-filter" ng-click="openFilter(col, 'COLUMN');"></span> <span class="glyphicon glyphicon-remove" ng-click="removeColumn(col);"></span></li>
                <ul ng-repeat="fi in col.filterValues">
                    <li>{{ fi.path }}</li>
                </ul>
              </ul>
            </div>
          </div>

        </div>

        <!--
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
              <ul ng-repeat="filter in filters">
                <li>{{ filter }} <span class="glyphicon glyphicon-remove" ng-click="removeFilter(filter);"></span></li>
              </ul>
            </div>
          </div>
        </div>
        -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-success" ng-click="doQuery();">Run query</button>
          <button class="btn btn-info" ng-click="clear();">Clear</button>
        </div>
      </div>
          <pre>
            {{ resultData }}
          </pre>

    </div>
  </div>

  <!-- Filter modal -->
  <div id="filterModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Filtrera</h4>
        </div>
        <div class="modal-body">
          <p>{{ filterName }}</p>
          <p>
            <div class="input-group" ng-repeat="filterValue in filterValues">

              <span class="input-group-addon" style="text-align:left;">
               <input type="checkbox" ng-change="addFilter(filterValue);" aria-label="..." value="{{ filterValue.title }}" ng-model="filterValue.selected">     {{ filterValue.title }}
              </span>

            </div>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- bower:js -->
  <script type="text/javascript" src="/bower_components/jquery/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_sv-se.js"></script>
  <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/bower_components/api-check/dist/api-check.js"></script>
  <script type="text/javascript" src="/bower_components/angular-formly/dist/formly.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-select/dist/select.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
  <!-- endbower -->

  <script type="text/javascript" src="index-app.main.js"></script>
</body>
</html>
